<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-size:35px;">SerPaper</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/research_papers">Research papers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


 <div class="container">
    <h1>Contact Us</h1>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading mt-5">
           <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>
          </div>
        </div>
      </div>
    </div>

<div class="container pt-5">


</div>
<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!--Grid row-->
      <div class="row justify-content-center">
      <div class="col-md-6 mb-4">
        <form class="input-group" id="modalform" method="post">
          <input type="text" class="form-control form-control-sm" placeholder="Your email" name='email'>
          <div class="input-group-append">
            <button id="btn-submit" class="btn btn-primary btn-sm justify-content-center" type="submit">subscribe for notification</button>
          </div>
        </form>
      </div>
      </div>

    {% if messages %}
      <div class="messages text-center">
      {% for message in messages %}
      <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}"{% endif %}>
      {{ message }}
      </div>
      {% endfor %}
      </div>
      {% endif %}

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="www.idea2aktion.com">idea2aktion</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script text="javascript">
    setTimeout(fade_out, 3000);
    function fade_out() {
     e.preventDefault();
        $(".messages").fadeOut().empty();
    }
    $(".post-form")[0].reset(); // this is to reset the form
});

</script>

</body>
</html>